doctype html
html(class="no-js", lang="ru")

	include ../components/head/head.pug
	include ../components/header/header.pug
	include ../components/content-header/content-header.pug
	include ../components/sub-header/sub-header.pug
	include ../components/nav/nav.pug
	include ../components/filter/filter.pug
	include ../components/calculator/calculator.pug
	include ../components/tabs/tabs.pug
	include ../components/table/table.pug
	include ../components/ui/input/input.pug
	include ../components/footer/footer.pug
	include ../components/content-footer/content-footer.pug


	head
		+head(head.home)

	body
		|%=symbols=%

		.page-container

			+nav()
			
			+header()

			+b.MAIN.content

				+sub-header()

				+e.inner
					+filter()

					+e.main
						+content-header()

						section.page-content

							+tabs()

						.calc-wrapper

							+calculator()


						+content-footer()

						




			+footer()

		script(src='%=static=%js/separate-js/svg4everybody.min.js')

		script svg4everybody();

		//- Main scripts. You can replace it, but I recommend you to leave it here
		script(src='%=static=%js/main%=hash=%%=min=%.js')
		
		//- для ие подключаем полифилл на позицию стики
		script.
					
			stickybits('.is-sticky', {stickyBitStickyOffset: 60});
