.filter {
  width: 260px;
  height: calc(100vh - 120px);
  border-right: 1px solid #e6e6e6;
  background-color: #fff;
  position: sticky;
  top: 60px;
  z-index: 2;

  > .button {
    display: none;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px
  }

  @include mq($until: desktop) {
    position: fixed !important;
    left: -200px;
    transition: transform 0.5s $cubic;
    
    > .button {
      display: flex;
      position: absolute;
      right: -36px;
      top: 200px;
    }

    &--active {
      transform: translateX(260px);

      > .button {
        background-color: $gray--200;

        &:hover {
          background-color: darken($gray--200, 10)
        }

        svg {
          fill: $gray--400;
        }

        .filter-show-icon {
          opacity: 0;
        }

        .filter-hide-icon {
          opacity: 1;
        }

      }
    }
  }

  &__inner {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 20px;
    display: block;
    overflow-y: auto;
  }

  &__list {
    overflow: hidden;
    width: 100%;
    margin-bottom: 10px;
  }

  &__item {
    transition: transform 0.35s $cubic 50ms;
    line-height: 1;
    padding: 6px 0;
    display: flex;
    align-items: center;
    position: relative;
    transform: translateX(-16px);
    
    &:hover, &:focus {
      will-change: transform;
      transform: translateX(-3px);
    }

    &--delete {
      transform: translateX(110%);
      transition: transform 0.5s $ease;

      &:hover {
        transform: translateX(120%);
      }
    }

    .link {
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 115px;
      white-space: nowrap;
    }
  }

  &__name {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 115px;
    white-space: nowrap;
    margin-right: 3px;
  }

  &__count {
    color: $gray--400;
    font-size: 0.688rem;
    display: inline-block;
    margin-left: 5px;
  }


  .filter-show-icon, .filter-hide-icon {
    transition: opacity 0.4s ease-out;
  }

  .filter-hide-icon {
    transform: translate(-50%, -50%) rotate(180deg);
    opacity: 0;
  }
}

.button-delete {
  padding: 4px;

  svg {
    fill: $gray--400;
  }
}

.button-hide {
  span {
    font-size: 0;
  }
  &::before {
    content: 'Скрыть';
    font-size: 0.813rem;
  }

  svg {
    transform: rotate(180deg);
  }
}

.arrow-small-blue {
  fill: $blue--dark;
}



.more-filter-items {

  .input-default {
    @include hide-animated-blocks();
    transition: transform 300ms ease-out, opacity 300ms ease-out, visibility 0s ease-out, max-height 0s ease-out;
  }

  @for $i from 1 through 15 {
    .filter__item:nth-child(#{$i}) {
      transition: transform 300ms ease-out (25ms * ($i - 1)), opacity 300ms ease-out (25ms * ($i - 1)), visibility 0s ease-out, max-height 0s ease-out;
    }
  }
  
  .filter__item {
    margin-left: -16px;
    @include hide-animated-blocks();
  }

  &--active {
    .input-default {
      @include show-animated-blocks();
    }

    .filter__item {
      @include show-animated-blocks();

      &:hover {
        transform: translateX(0px);
      }
    }
  }
}

.filter-show-icon, .filter-hide-icon {
  transition: opacity 0.4s ease-out;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.filter-hide-icon {
  opacity: 0;
}
















