mixin filter(data)
	+b.ASIDE.filter
		+b(data-ripple="light").BUTTON.button--square.js-toggle-filter
			+e.SPAN.icon
				!= pugHelpers.Icon.call(locals, {iconName: 'filter', className: 'filter-show-icon', iconWidth: '16'})
				!= pugHelpers.Icon.call(locals, {iconName: 'arrow-big', className: 'filter-hide-icon'})
		+e.inner.js-custom-scroll
			h5 Параметры подбора

			p
				|Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam consectetur perspiciatis ad aut! Magni odit deleniti facere expedita Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam consectetur perspiciatis ad aut! Magni odit deleniti facere expedita Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam consectetur perspiciatis ad aut! Magni odit deleniti facere expedita Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam consectetur perspiciatis ad aut! Magni odit deleniti facere expedita Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam consectetur perspiciatis ad aut! Magni odit deleniti facere expedita Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam consectetur perspiciatis ad aut! Magni odit deleniti facere expedita Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam consectetur perspiciatis ad aut! Magni odit deleniti facere expedita Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam consectetur perspiciatis ad aut! Magni odit deleniti facere expedita Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam consectetur perspiciatis ad aut! Magni odit deleniti facere expedita Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam consectetur perspiciatis ad aut! Magni odit deleniti facere expedita Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam consectetur perspiciatis ad aut! Magni odit deleniti facere expedita Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam consectetur perspiciatis ad aut! Magni odit deleniti facere expedita Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam consectetur perspiciatis ad aut! Magni odit deleniti facere expedita the-endthe-endthe-endthe-endthe-endthe-end
