mixin content-header(data)
	+b.HEADER.content-header
		+b.TABLE.table-header
			thead
				tr
					th Авто на рынке

					th Средний пробег

					th Средняя цена

					th Коррекция по пробегу

					th Мин. цена нового

					+e.TH.info Скоринг






			tbody
				tr
					td 7 шт 
						+e.SPAN.count (2) 
				
					td 169 147 км

					td 386 143 ₽

					td + 32 963 ₽

					td 300 000 000 ₽

					+e.TD.info
						+e.SPAN.notifi 1
						|46 дней

						+e.icon
							!= pugHelpers.Icon.call(locals, {iconName: 'help', className: 'icon-help-gray'})
						
						+b.tooltip--right
							+e.inner
								| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi nemo dolore quibusdam fuga eum sapiente



		







