mixin footer(data)
	+b.FOOTER.footer
		+e.UL.list
			+e.item
				+b(href="#").link--dark Новости    
			+e.item
				+b(href="#").link--dark Разработчикам    
			+e.item
				+b(href="#").link--dark Правила   
