mixin table(data)
	+b.TABLE.table
		+e.THEAD.thead
			+e.TR.row
				+e.TH.th 
					button(data-ripple="dark") Р

				+e.TH.th
					button(data-ripple="dark") ПР

				+e.TH.th
					button(data-ripple="dark") Автомобиль

				+e.TH.th
					button(data-ripple="dark") Пробег

				+e.TH.th
					button(data-ripple="dark") Срок

				+e.TH.th
					button(data-ripple="dark") Расст.

				+e.TH.th
					button(data-ripple="dark") Цена

				+e.TH.th
					button(data-ripple="dark") Продавец

				+e.TH.th


		+e.TBODY.tbody
			+e.TR.row
				+e.TD.td 10
			
				+e.TD.td 14

				+e.TD.td
					a(href="#").link Land Rover Range Rover Evoque 2017
					+e.SPAN.desc Механика




				+e.TD.td 50 000 км

				+e.TD.td 65 д

				+e.TD.td 500 км

				+e.TD.td 
					+e.SPAN.price 99 200 670


				+e.TD.td
					span АвтоГермес Красная сосна
					+e.SPAN.desc Бутово, Московская обл.

				+e.TD.td
					button.add-remove.js-toggle-car-item
			
			+e.TR.row--selected
				+e.TD.td 10
			
				+e.TD.td 14

				+e.TD.td
					a(href="#").link Land Rover Range Rover Evoque 2017
					+e.SPAN.desc Механика




				+e.TD.td 50 000 км

				+e.TD.td 65 д

				+e.TD.td 500 км

				+e.TD.td 
					+e.SPAN.price 99 200 670


				+e.TD.td
					span АвтоГермес Красная сосна
					+e.SPAN.desc Бутово, Московская обл.

				+e.TD.td
					button.add-remove.js-toggle-car-item
			
			+e.TR.row
				+e.TD.td 10
			
				+e.TD.td 14

				+e.TD.td
					a(href="#").link Land Rover Range Rover Evoque 2017
					+e.SPAN.desc Механика


				+e.TD.td 50 000 км

				+e.TD.td 65 д

				+e.TD.td 500 км

				+e.TD.td 
					+e.SPAN.price 99 200 670


				+e.TD.td
					span АвтоГермес Красная сосна
					+e.SPAN.desc Бутово, Московская обл.

				+e.TD.td
					button.add-remove.js-toggle-car-item
			
			+e.TR.row
				+e.TD.td 10
			
				+e.TD.td 14

				+e.TD.td
					a(href="#").link Land Rover Range Rover Evoque 2017
					+e.SPAN.desc Механика


				+e.TD.td 50 000 км

				+e.TD.td 65 д

				+e.TD.td 500 км

				+e.TD.td 
					+e.SPAN.price 99 200 670


				+e.TD.td
					span АвтоГермес Красная сосна
					+e.SPAN.desc Бутово, Московская обл.

				+e.TD.td
					button.add-remove.js-toggle-car-item
			
			+e.TR.row
				+e.TD.td 10
			
				+e.TD.td 14

				+e.TD.td
					a(href="#").link Land Rover Range Rover Evoque 2017
					+e.SPAN.desc Механика


				+e.TD.td 50 000 км

				+e.TD.td 65 д

				+e.TD.td 500 км

				+e.TD.td 
					+e.SPAN.price 99 200 670


				+e.TD.td
					span АвтоГермес Красная сосна
					+e.SPAN.desc Бутово, Московская обл.

				+e.TD.td
					button.add-remove.js-toggle-car-item
			
			+e.TR.row
				+e.TD.td 10
			
				+e.TD.td 14

				+e.TD.td
					a(href="#").link Land Rover Range Rover Evoque 2017
					+e.SPAN.desc Механика


				+e.TD.td 50 000 км

				+e.TD.td 65 д

				+e.TD.td 500 км

				+e.TD.td 
					+e.SPAN.price 99 200 670


				+e.TD.td
					span АвтоГермес Красная сосна
					+e.SPAN.desc Бутово, Московская обл.

				+e.TD.td
					button.add-remove.js-toggle-car-item
			
			+e.TR.row
				+e.TD.td 10
			
				+e.TD.td 14

				+e.TD.td
					a(href="#").link Land Rover Range Rover Evoque 2017
					+e.SPAN.desc Механика


				+e.TD.td 50 000 км

				+e.TD.td 65 д

				+e.TD.td 500 км

				+e.TD.td 
					+e.SPAN.price 99 200 670


				+e.TD.td
					span АвтоГермес Красная сосна
					+e.SPAN.desc Бутово, Московская обл.

				+e.TD.td
					button.add-remove.js-toggle-car-item
			
			+e.TR.row
				+e.TD.td 10
			
				+e.TD.td 14

				+e.TD.td
					a(href="#").link Land Rover Range Rover Evoque 2017
					+e.SPAN.desc Механика


				+e.TD.td 50 000 км

				+e.TD.td 65 д

				+e.TD.td 500 км

				+e.TD.td 
					+e.SPAN.price 99 200 670


				+e.TD.td
					span АвтоГермес Красная сосна
					+e.SPAN.desc Бутово, Московская обл.

				+e.TD.td
					button.add-remove.js-toggle-car-item
			
			+e.TR.row
				+e.TD.td 10
			
				+e.TD.td 14

				+e.TD.td
					a(href="#").link Land Rover Range Rover Evoque 2017
					+e.SPAN.desc Механика


				+e.TD.td 50 000 км

				+e.TD.td 65 д

				+e.TD.td 500 км

				+e.TD.td 
					+e.SPAN.price 99 200 670


				+e.TD.td
					span АвтоГермес Красная сосна
					+e.SPAN.desc Бутово, Московская обл.

				+e.TD.td
					button.add-remove.js-toggle-car-item
			
			+e.TR.row
				+e.TD.td 10
			
				+e.TD.td 14

				+e.TD.td
					a(href="#").link Land Rover Range Rover Evoque 2017
					+e.SPAN.desc Механика


				+e.TD.td 50 000 км

				+e.TD.td 65 д

				+e.TD.td 500 км

				+e.TD.td 
					+e.SPAN.price 99 200 670


				+e.TD.td
					span АвтоГермес Красная сосна
					+e.SPAN.desc Бутово, Московская обл.

				+e.TD.td
					button.add-remove.js-toggle-car-item
			
			+e.TR.row
				+e.TD.td 10
			
				+e.TD.td 14

				+e.TD.td
					a(href="#").link Land Rover Range Rover Evoque 2017
					+e.SPAN.desc Механика


				+e.TD.td 50 000 км

				+e.TD.td 65 д

				+e.TD.td 500 км

				+e.TD.td 
					+e.SPAN.price 99 200 670


				+e.TD.td
					span АвтоГермес Красная сосна
					+e.SPAN.desc Бутово, Московская обл.

				+e.TD.td
					button.add-remove.js-toggle-car-item
			
			+e.TR.row
				+e.TD.td 10
			
				+e.TD.td 14

				+e.TD.td
					a(href="#").link Land Rover Range Rover Evoque 2017
					+e.SPAN.desc Механика


				+e.TD.td 50 000 км

				+e.TD.td 65 д

				+e.TD.td 500 км

				+e.TD.td 
					+e.SPAN.price 99 200 670


				+e.TD.td
					span АвтоГермес Красная сосна
					+e.SPAN.desc Бутово, Московская обл.

				+e.TD.td
					button.add-remove.js-toggle-car-item
			
			+e.TR.row
				+e.TD.td 10
			
				+e.TD.td 14

				+e.TD.td
					a(href="#").link Land Rover Range Rover Evoque 2017
					+e.SPAN.desc Механика


				+e.TD.td 50 000 км

				+e.TD.td 65 д

				+e.TD.td 500 км

				+e.TD.td 
					+e.SPAN.price 99 200 670


				+e.TD.td
					span АвтоГермес Красная сосна
					+e.SPAN.desc Бутово, Московская обл.

				+e.TD.td
					button.add-remove.js-toggle-car-item
			
			+e.TR.row
				+e.TD.td 10
			
				+e.TD.td 14

				+e.TD.td
					a(href="#").link Land Rover Range Rover Evoque 2017
					+e.SPAN.desc Механика


				+e.TD.td 50 000 км

				+e.TD.td 65 д

				+e.TD.td 500 км

				+e.TD.td 
					+e.SPAN.price 99 200 670


				+e.TD.td
					span АвтоГермес Красная сосна
					+e.SPAN.desc Бутово, Московская обл.

				+e.TD.td
					button.add-remove.js-toggle-car-item
			
			+e.TR.row
				+e.TD.td 10
			
				+e.TD.td 14

				+e.TD.td
					a(href="#").link Land Rover Range Rover Evoque 2017
					+e.SPAN.desc Механика


				+e.TD.td 50 000 км

				+e.TD.td 65 д

				+e.TD.td 500 км

				+e.TD.td 
					+e.SPAN.price 99 200 670


				+e.TD.td
					span АвтоГермес Красная сосна
					+e.SPAN.desc Бутово, Московская обл.

				+e.TD.td
					button.add-remove.js-toggle-car-item
			
			+e.TR.row
				+e.TD.td 10
			
				+e.TD.td 14

				+e.TD.td
					a(href="#").link Land Rover Range Rover Evoque 2017
					+e.SPAN.desc Механика


				+e.TD.td 50 000 км

				+e.TD.td 65 д

				+e.TD.td 500 км

				+e.TD.td 
					+e.SPAN.price 99 200 670


				+e.TD.td
					span АвтоГермес Красная сосна
					+e.SPAN.desc Бутово, Московская обл.

				+e.TD.td
					button.add-remove.js-toggle-car-item
			
			+e.TR.row
				+e.TD.td 10
			
				+e.TD.td 14

				+e.TD.td
					a(href="#").link Land Rover Range Rover Evoque 2017
					+e.SPAN.desc Механика


				+e.TD.td 50 000 км

				+e.TD.td 65 д

				+e.TD.td 500 км

				+e.TD.td 
					+e.SPAN.price 99 200 670


				+e.TD.td
					span АвтоГермес Красная сосна
					+e.SPAN.desc Бутово, Московская обл.

				+e.TD.td
					button.add-remove.js-toggle-car-item
			
			+e.TR.row
				+e.TD.td 10
			
				+e.TD.td 14

				+e.TD.td
					a(href="#").link Land Rover Range Rover Evoque 2017
					+e.SPAN.desc Механика


				+e.TD.td 50 000 км

				+e.TD.td 65 д

				+e.TD.td 500 км

				+e.TD.td 
					+e.SPAN.price 99 200 670


				+e.TD.td
					span АвтоГермес Красная сосна
					+e.SPAN.desc Бутово, Московская обл.

				+e.TD.td
					button.add-remove.js-toggle-car-item
			
			+e.TR.row
				+e.TD.td 10
			
				+e.TD.td 14

				+e.TD.td
					a(href="#").link Land Rover Range Rover Evoque 2017
					+e.SPAN.desc Механика


				+e.TD.td 50 000 км

				+e.TD.td 65 д

				+e.TD.td 500 км

				+e.TD.td 
					+e.SPAN.price 99 200 670


				+e.TD.td
					span АвтоГермес Красная сосна
					+e.SPAN.desc Бутово, Московская обл.

				+e.TD.td
					button.add-remove.js-toggle-car-item
			

			


