.car-info {
  display: flex;
  align-items: flex-start;

  &__img {
    width: 83px;
    height: 62px;
    margin-right: 10px;
  }

  &__desc {
  	width: calc(100% - 83px);
  	max-width: 350px;
  	color: $gray--700;
  	line-height: 1.54;
  }
}
