mixin car-info(data)
	+b.car-info
		+e.img
			img(src="%=static=%img/assets/car-info/car.jpg", srcset="%=static=%img/assets/car-info/car@2x.jpg 2x", alt="", data-object-fit="cover").media-cover

		+e.desc
			|XWEHN812BE0011152, 2 поколение рестайлинг, универсал, механика, бензин, 1.8 л, 122 лс, передний привод, левый руль, 50 000 км, битый